body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background: #fffabb
}
.title{
    text-align: center;
}
.text{
    color: #262626;
}
.text-data{
    text-align: center;
}
input{
    padding-left: 5px;
    border-radius: 8px;
    border: 2px solid;
}
.input-style{
    color: #000;

}
.button{
    margin-top: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.button:hover{
    transition: .4s;
    color: #fff;
    background: #0082d5;
}
.button-place{
    text-align:center;
}
.content{
    padding: 20px;
    border: 2px solid #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
table{
    margin-left: 10px;
}
td, th, tr{
    color: #000;
    text-align: center;
}
td, th {
    padding-right: 10px;
}
.linkDelete{
    text-decoration: none;
    padding: 0;
}
.linkDelete:hover{
    color: #ff0000;
}